CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/*

wasm-build/*

.vscode/*
.idea/*

build/
dist/
_build/
_generate/
*.so
*.egg-info
**/__pycache__/*